<div class="dev_application app_show" id="24003877170_info">
 <div class="dev_application_header clearfix">
   	<%= facebook_messages %>
	<%= flash[:errors] = "None Found" %>
 </div>
 <div class="dev_application_data">
  <div class="dev_app_insights clearfix">
   <p><%= "Placebo" %></p>
  </div>
  <div class="dev_application_info"> <%= link_to 'official FDA data', "" %> </div>
  <div class="dev_application_other">
   <ul class="actionspro">
    <li><a href="www.facebook.com/developers/dsadmin.php?app_id=24003877170">Action1</a></li>
    <li><a href="www.facebook.com/pages/edit/?id=24003877170">Action2</a></li>
    <li><a href="www.facebook.com/developers/editapp.php?edit&app_id=24003877170">Action3</a></li>
   </ul>
  </div>
 </div>
 <div class="dev_app_footer"><a href="www.facebook.com/">Action1</a> | <a href="www.facebook.com/">Action2</a></div>
</div>