<% for attack in @battles %>
  <div class="battle">
    <%= image_tag attack.move.image_name %> 
    <%= link_to(
         name(attack.attacking_user,:linked=>"false",:firstnameonly=>true),
         battles_url(:user_id=>attack.attacking_user)) %> 
    <%= attack_result(attack) %>
    <%= link_to(
         name(attack.defending_user,:linked=>"false",:firstnameonly=>true),
         battles_url(:user_id=>attack.defending_user)) %>       
  </div>
<% end %>