<fb:mobile>
<fb:fbml>
<% for message in battles %>
  <div class="battle"
    <%= link_to(
         name(message.messaging_user,:linked=>false),
         battles_url(:user_id=>message.messaging_user)) %> 
    <%= message_result(message) %>
    <%= link_to(
         name(message.defending_user,:linked=>false),
         battles_url(:user_id=>message.defending_user)) %>       
    with a <%= message.pill.name %>
  </div>
<% end %>
</fb:fbml>
</fb:mobile>