.patient{:onclick => "phx.gameInfo('messages');"}
  = image_tag "icons/placeholder.gif", :size=>'60x20'
  .name
    = "Select any patient"
  .illness
    Illnesses
  %ul
    %li
      = "Match pills to ailments!"
