<div id="patientsBox" style="padding:10px; border: 0px solid red; background-image: url('<%= image_path 'okerlundcm.jpg' %>'); background-repeat:no-repeat; height:350px;">

<div id="debugDiv" style="width: 600px; border: 1px solid #999; background: #000; color: #fff; font-weight: bold; font-size: large; z-index: 1; padding: 5px">debug area</div>
<script type="text/javascript">
<%= render "patients.js" %>
</script>

<br />

</div>

<%= render :partial=>'dashboard.haml' %>
