<div id="nickname_open" 
  <% if closed %> style="display:none" <% end %> >
<% remote_form_for :user,current_user, 
    :url=>user_url(:id=>current_user,:canvas=>false),
    :html=>{:method=>:put},
    :update=>"nickname" do |f| %>
  Select a nickname to show outside of Facebook  
  <%= text_field_tag :nickname,current_user.nickname%> 
  <%= submit_tag "save"%>
<% end %>
</div>
<div id="nickname_closed" 
  <% unless closed %> style="display:none" <% end %>>
  Your nickname is <%=current_user.nickname%> 
  <%=link_to_function "(change it)", 
    "$('nickname_open').show();$('nickname_closed').hide()"%>
</div>