#new-messages
  - "something"
#latest-activity
  - "something else"
.menu
  %h3 Welcome to Pharmville. Here are some links:
  %ul
    %li
      %a{:href=>"#"} Invite
      .descrip Invite your friends to join Pharmville
    %li 
      %a View
      .descrip Look up profile information on the go.
    %li
      %a{:href=>"#"} About the FDA data
      .descrip Here's a little information about the data that made this project possible.
    %li
      %a{:href=>"#"} Browse
      .descrip Find out interesting things about pills by browsing our directory.
    %li 
      %a{:href=>"#"} Help
      .descrip What's this all about? Find out in a single click.